html, body {
  font-size: 14px;
  font-family: Arial;
  min-width: 1000px;
}

h2 {
  border-bottom: 1px solid #e6e6e6;
  font-size: 20px;
  padding: 27px 0 27px 18px;
  margin-bottom: 34px;
}

.bold {
  font-weight: bold;
}

#header-bar {
  padding: 20px 0;
  background-color: #00122f;
  color: #fff;
  font-size: 16px;
}

#header-bar a {
  color: #fff;
  text-decoration: underline;
}

#datetime {
  float: right;
}

#header {
  height: 100px;
}

#header img {
  position: absolute;
  top: 40px;
}

#header form {
  position: relative;
  float: right;
  width: 320px;
  height: 45px;
  margin-top: 40px;
  padding-left: 21px;
  padding-top: 15px;
  border-radius: 23px;
  background-color: #ebebeb;
}

#header input[type='text'] {
  font-size: 14px;
  border: none;
  background: none;
  outline: none;
  width: 85%;
}

#header input[type='submit'] {
  border: none;
  position: absolute;
  top: 14px;
  right: 20px;
  background: url(../img/search-icon.png) no-repeat left;
  width: 16px;
  cursor: pointer;
}

#city-picker {
  position: absolute;
  top: 54px;
  left: 182px;
  font-size: 16px;
  color: #448ccb;
  background: url(../img/down-arrow.png) no-repeat right;
  padding-right: 18px;
}

#city-picker span {
  border-bottom: 2px dotted #448ccb;
}

#weather {
  position: absolute;
  top: 54px;
  left: 550px;
  font-size: 16px;
  color: #91919f;
  background: url(../img/cloudy.png) no-repeat;
  height: 21px;
  padding-left: 39px;
}

#main-menu {
  height: 70px;
  padding-top: 22px;
}

#main-menu ul li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 10px;
  background: url(../img/menu-separator.png) no-repeat right
}

#main-menu ul li:first-child {
  padding-left: 0;
}

#main-menu ul li:last-child {
  padding-right: 0;
  background: none;
}

#main-menu ul li a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#central-container {
  padding-top: 20px;
  padding-bottom: 60px;
  background: #f9f9f9 url(../img/bg-top.png) repeat-x;
}

#col-left {
  background-color: #fff;
  width: 250px;
  float: left;
  margin-right: 20px;
}

#col-center {
  width: 460px;
  float: left;
}

#col-right {
  width: 250px;
  float: right;
}

#col-right img {
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.news-item {
  padding-left: 20px;
  margin-bottom: 27px;
}

.news-item-text {
  margin-bottom: 20px;
  padding-right: 10px;
}

.news-item-text a {
  color: inherit;
  text-decoration: none;
}

.news-item-props {
  position: relative;
  font-size: 12px;
}

.news-item-props a {
  color: #91919f;
}

.news-item-time {
  position: absolute;
  top: 0;
  left: 102px;
  background: url(../img/clock-icon.png) no-repeat left;
  padding-left: 16px;
}

.news-item-comments-count {
  position: absolute;
  top: 0;
  left: 166px;
  background: url(../img/comments-icon.png) no-repeat left;
  padding-left: 16px;
}

.btn {
  display: block;
  border-radius: 23px;
  border: 1px solid #448ccb;
  height: 45px;
  width: 177px;
  color: #448ccb;
  text-decoration: none;
  text-align: center;
  margin: 0 auto 25px;
  padding-top: 13px;
}

.news-item-wide {
  position: relative;
  color: #fff;
  margin-bottom: 20px;
}

.news-item-wide a {
  position: absolute;
  top: 114px;
  left: 20px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.news-item-wide-text a {
  position: absolute;
  top: 149px;
  left: 20px;
  font-size: 28px;
}

.news-item-wide-date,
.news-item-wide-time {
  font-size: 12px;
}

.news-item-wide-date {
  position: absolute;
  top: 271px;
  left: 20px;
}

.news-item-wide-time {
  position: absolute;
  top: 271px;
  left: 116px;
  background: url(../img/clock-icon-white.png) no-repeat left;
  padding-left: 16px;
}

.half {
  width: 48%;
  padding-left: 0;
  float: left;
}

.half img {
  margin-bottom: 7px;
}

.last {
  float: right;
}

#popular-news .news-item-wide {
  width: 588px;
  float: left;
}

#popular-news .news-item-wide-preview {
  position: absolute;
  top: 297px;
  left: 20px;
  opacity: 0.7;
}

.most-read {
  width: 412px;
  background-color: #fff;
  float: right;
}

#footer {
  background-color: #00122f;
  color: #fff;
  padding-top: 58px;
}

#footer-col-left {
  margin-right: 20px;
  width: 250px;
  float: left;
}

#footer-col-center {
  width: 460px;
  float: left;
}

#footer-col-center img {
  display: block;
  margin: 0 auto 22px auto;
}

#footer-col-right {
  width: 250px;
  float: right;
  padding-left: 27px;
}

.footer-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 18px;
}

#footer-col-center .footer-links {
  padding-left: 169px;
}

.social-links {
  margin-bottom: 45px;
}

.social-links li {
  display: inline-block;
  margin-left: 14px;
}

.social-links li:first-child {
  margin-left: 0;
}

.social-links li a {
  display: block;
  width: 40px;
  height:40px;
}

.vk {
  background: url(../img/vk-icon.png) no-repeat;
}

.fb {
  background: url(../img/facebook-icon.png) no-repeat;
}

.tw {
  background: url(../img/twitter-icon.png) no-repeat;
}

.inst {
  background: url(../img/insta-icon.png) no-repeat;
}

.footer-contacts {
  font-size: 18px;
}

.footer-contacts li {

}

.phone {
  background: url(../img/phone-icon.png) no-repeat left;
  padding-left: 34px;
  margin-bottom: 26px;
}

.email {
  background: url(../img/envelope-icon.png) no-repeat left;
  padding-left: 34px;
}

.footer-copyright {
  opacity: 0.4;
  text-align: center;
  border-top: 1px solid #fff;
  padding: 20px 0;
  margin-top: 58px;
}
