html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
  font-size: 100%;
  color: #000000;
}

body.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fix-container {
  max-width: 1000px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 27px 0 27px 18px;
  margin-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
}

.datetime {
  display: none;
}
@media (max-width: 700px) {
  .black-bar {
    text-align: center;
  }
  .black-bar p {
    float: none;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 370px) {
  .black-bar {
    font-size: 13px;
  }
}

/*  Header  */

.header {
  background-color: #ffffff;
}

.header-top {
  padding: 1.25em 0;

  color: #ffffff;

  background-color: #00122f;
}

@media (max-width: 1040px) {
  .header-top {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .header-top {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header-top__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  margin-bottom: 35px;
  padding-top: 40px;
}

@media (max-width: 1040px) {
  .header-middle {
    margin-left: 20px;
    margin-right: 20px;

    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  .header-middle {
    align-items: center;

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 24px;

    background: linear-gradient(
      to bottom,
      #ffffff 72px,
      #f3f3f3 72px,
      #ffffff 92px
    );
  }

  .header-middle::after {
    content: "";
    width: 100%;
    order: 1;
  }
}

@media (max-width: 560px) {
  .header-middle {
    padding-top: 7px;
    padding-bottom: 41px;

    background: linear-gradient(
      to bottom,
      #ffffff 63px,
      #f3f3f3 63px,
      #ffffff 83px
    );
  }
}

.header-middle_mobile-search {
  padding-top: 8px;
}

.header-middle_mobile-fix {
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  z-index: 1000;

  padding-bottom: 0;
  padding-top: 0;
  align-content: center;

  background: none;
  background-color: #ffffff;
}

.header-bottom {
  padding-bottom: 30px;
}

@media (max-width: 1040px) {
  .header-bottom {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header-bottom {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
}

/* --- header-top --- */

.header-top__heading {
  margin: 0 20px 0 0;

  font-size: 1rem;
  font-weight: 400;
}

.header-top__link {
  text-decoration: underline;
}

.header-top__link:hover {
  color: #0072bc;
}

.header-top__datetime {
  display: block;
}

@media (max-width: 560px) {
  .header-top__heading {
    margin: 0 auto;

    font-size: 0.8125rem;
  }

  .header-top__datetime {
    display: none;
  }
}

/* --- mobile-menu-button --- */

.mobile-menu__button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 36px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.mobile-menu__button__bar {
  width: 20px;
  height: 2px;
  margin: 0;

  background: #000000;
  transition-duration: 0.3s;
}

@media (max-width: 768px) {
  .mobile-menu__button {
    display: flex;
  }
}

.header__logo {
  align-self: center;
  font-size: 0;
}
.header__logo__mobile {
  display: none;
}

@media (min-width: 561px) and (max-width: 768px) {
  .header__logo {
    margin-left: 20px;
    margin-right: auto;
  }
}
@media (max-width: 560px) {
  .header__logo {
    display: none;
  }
  .header__logo__mobile {
    display: block;
  }
}

.current-city {
  display: block;
  min-height: 5px;
  padding-right: 17px;
  margin-left: 30px;

  background-image: url("../img/arrow-bottom.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 8px;
  border: none;
}

.current-city__text {
  color: #0072bc;

  border-bottom: 2px dotted #0072bc;
}

@media (max-width: 768px) {
  .current-city {
    order: 2;
    margin-top: 33px;
  }
}
@media (max-width: 560px) {
  .current-city {
    display: none;
  }
}

@media (max-width: 768px) {
  .datetime {
    order: 2;
    display: flex;

    margin-top: 33px;
    margin-left: auto;

    color: #91919f;
  }
  .datetime__time {
    min-height: 16px;
    padding-left: 24px;

    background-image: url("../img/header-clock.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .datetime__date {
    margin-right: 22px;
  }
  .datetime__date_mobile {
    display: none;
  }
}

@media (max-width: 560px) {
  .datetime {
    margin-top: 59px;
    margin-left: 0;
  }

  .datetime__date {
    display: none;
  }

  .datetime__date_mobile {
    display: block;
  }

  .header-middle_mobile-search .datetime {
    margin-top: 54px;
  }
}
@media (max-width: 320) {
  .datetime__time {
    margin-left: -10px;
  }
}

.weather {
  display: block;
  min-height: 21px;
  padding-left: 39px;
  padding-top: 3px;

  color: #91919f;

  background-image: url("../img/Weather.png");
  background-repeat: no-repeat;
  background-position: 0 100%;
  margin-left: auto;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .weather {
    order: 4;

    margin-top: 33px;
    margin-right: 0;
  }
}

@media (max-width: 560px) {
  .weather {
    margin-top: 59px;
  }

  .header-middle_mobile-search .weather {
    margin-top: 54px;
  }
}

.search-form {
  position: relative;
}

.search-form__input {
  width: 319px;
  height: 46px;
  padding: 0 40px 0 20px;

  font-size: 0.875rem;

  background-color: #f3f3f3;
  border-width: 0;
  border-radius: 22.5px;
}

.search-form__button {
  position: absolute;
  top: 15px;
  right: 20px;

  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;

  cursor: pointer;
}

.search-form__button__mobile {
  position: initial;
  display: none;
}

@media (max-width: 768px) {
  .search-form__input {
    width: 250px;
  }
}

@media (max-width: 560px) {
  .search-form__input {
    display: none;
  }

  .search-form__button {
    display: none;
  }

  .search-form__button__mobile {
    display: block;
  }
}

.header-menu__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header-menu__item {
  position: relative;
  display: inline-block;
  margin-right: 2.25em;
}

.header-menu__item::after {
  content: "/";
  position: absolute;
  display: block;
  right: -1.4em;
  top: 0;

  color: #91919f;
}

.header-menu__item:last-child::after {
  display: none;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link:hover {
  color: #0072bc;

  border-bottom: 2px dotted #0072bc;
}

@media (max-width: 960px) {
  .header-menu__item {
    margin-right: 1.5em;
  }

  .header-menu__item::after {
    right: -1em;
  }
}

@media (max-width: 850px) {
  .header-menu__item {
    margin-right: 0.9em;
  }

  .header-menu__item::after {
    right: -0.7em;
  }
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
    padding: 0 25px;

    background: linear-gradient(to bottom, #f3f3f3, #ffffff 20px);
    box-shadow: 0 5px 5px 0 #e5e5e5;
  }

  .header-menu__item {
    position: initial;
    display: block;
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #767676;
  }

  .header-menu__item:last-child {
    border-bottom: none;
  }

  .header-menu__item::after {
    display: none;
  }

  .header-menu__link {
    display: block;
    padding: 15px;
  }

  .header-menu__link:hover {
    border-bottom: none;
    border-left: 4px solid #0072bc;
    padding-left: 11px;
  }
}

.header-menu_open {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 5000;
}

/* Central container */

.central-container {
  padding-top: 20px;
  background-color: #f9f9f9;
}

.central-container .fixed-container {
  overflow-y: hidden;
}
.central-top {
  display: flex;
  justify-content: space-between;
}

.hot-news {
  margin-bottom: 20px;
  padding-top: 113px;
  padding-bottom: 41px;
}
@media (max-width: 1000px) {
  .central-top {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  .central-top {
    flex-direction: column;
  }
}

.column-center {
  width: calc(50% - 40px);
  order: 2;
}
@media (max-width: 1000px) {
  .column-center {
    width: calc(60% - 20px);
    margin-right: 20px;
  }
}
@media (max-width: 560px) {
  .column-center {
    order: 1;
    width: calc(100% - 2px);
    margin: 0 auto;
  }
}

.hot-news {
  position: relative;

  padding-left: 20px;
  padding-right: 20px;

  background-color: #00122f;
}

.hot-news__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .hot-news__image {
    height: 100%;
    object-position: right;
  }
}

.hot-news__tags {
  position: relative;

  display: block;
  margin-bottom: 18px;

  font-size: 0.75rem;
  color: #ffffff;
  text-decoration: none;
}

.hot-news__text {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  margin-top: 0;
  margin-bottom: 18px;

  font-size: 1.67rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.167em;
}

.hot-news__props {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.hot-news__date {
  margin-right: 20px;

  font-size: 0.75rem;
  color: #ffffff;
  text-decoration: none;
}

.hot-news__time {
  min-height: 9px;
  padding-left: 13px;

  font-size: 0.75rem;
  color: #ffffff;

  background-image: url("../img/icon-time-blue.png");
  background-repeat: no-repeat;
  background-position: 0 45%;
}
.latest-news {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.latest-news-item {
  width: 48%;
}
@media (max-width: 560px) {
  .latest-news-item {
    width: 100%;
  }
}

.latest-news-img {
  display: block;
  width: 100%;
  max-height: 140px;
  object-fit: cover;
  margin-bottom: 8px;
}
@media (max-width: 560px) {
  .latest-news-img {
    max-height: 200px;
  }
}

.latest-news-text {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.latest-news-text a {
  text-decoration: none;
  color: #000000;
}
@media (max-width: 560px) {
  .news__text {
    margin-left: 25px;
  }
}

.latest-news-item-props {
  font-size: 12px;
  position: relative;
  margin-bottom: 25px;
}

.latest-news-item-props a {
  color: #91919f;
  text-decoration: none;
}

.latest-news-time {
  position: absolute;
  top: 0;
  left: 75px;
  padding-left: 15px;
  background: url("../img/icon-time-grey.png") no-repeat left;
}

.latest-news-comments-count {
  position: absolute;
  top: 0;
  left: 140px;
  padding-left: 15px;
  background: url("../img/icon-comments-grey.png") no-repeat left;
}
.column-left {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 25%;

  background-color: #ffffff;
}
@media (max-width: 1000px) {
  .column-left {
    width: calc(40% - 20px);
  }
}
@media (max-width: 560px) {
  .column-left {
    width: 100%;
  }
  .news-item-props {
    margin-right: 18px;
  }
}

.news-item {
  padding-left: 18px;
}

.news-item-text {
  margin-right: 15px;
  margin-bottom: 20px;
}

.news-item-text a {
  font-size: 0.875rem;
  text-decoration: none;
  color: #000000;
}

.news-item-props {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;

  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;

  font-size: 0.75rem;
}

.news-item-props a {
  margin-right: auto;
  color: #91919f;
  text-decoration: none;
}

.news-time {
  min-height: 11px;
  padding-left: 18px;
  background: url("../img/icon-time-white.png") no-repeat;
}

.news-comments-count {
  min-height: 11px;
  margin-left: 15px;
  padding-left: 18px;
  padding-right: 5px;
  background: url("../img/icon-comments-white.png") no-repeat;
}

.button {
  display: block;
  border-radius: 23px;
  border: 1px solid #448ccb;
  height: 45px;
  width: 177px;
  color: #448ccb;
  text-decoration: none;
  text-align: center;
  margin: 0 auto 25px;
  padding-top: 13px;
}

.column-right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  width: 25%;
  order: 3;
}

.column-right img {
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 1000px) {
  .column-right {
    width: 100%;
    padding: 25px 20px;

    flex-direction: row;
    justify-content: space-between;

    overflow-x: scroll;
  }
  .column-right a {
    margin-bottom: 0;

    flex-shrink: 0;
  }
  .column-right img {
    width: 250px;
    height: 400px;
  }
}
@media (max-width: 560px) {
  .column-right img {
    object-fit: cover;
    object-position: top;
  }
}

.news-special {
  display: flex;
}

.news-special .hot-news {
  width: 75%;
}

@media (max-width: 1000px) {
  .news-special {
    margin: 0 20px;
  }
}

@media (max-width: 560px) {
  .news-special {
    flex-direction: column;
    margin: 0;
  }
  .news-special .hot-news {
    width: 100%;
  }
}

.hot-news__description {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.429em;
  opacity: 0.7;
}

.news-most-read__heading {
  margin: 0 0 28px 0;
  padding: 23px 20px 23px 20px;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
  word-wrap: break-word;
}

.news-list {
  margin: 0;
  padding: 0;
}

.news-item__list .news-item .news-item-text > a {
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  width: 100%;

  padding-top: 40px;
  padding-bottom: 20px;

  background-color: #00122f;
}

@media (max-width: 1020px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer ul {
  list-style-type: none;
}

.footer__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 60px;
}

@media (max-width: 700px) {
  .footer__flex-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 560px) {
  .footer__flex-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
  }
  .footer-col-left {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}

.footer-menu {
  padding-left: 0;
}

.footer-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-menu__list {
  margin: 0;
  padding: 0;

  columns: 2;
  text-decoration: none;
  color: white;
}

.footer-menu__item {
  line-height: 2em;
}

.footer-menu__item:hover {
  color: #0072bc;
}

.footer-col-center {
  margin: 0 20px;
}

.footer-col-center .footer-menu__list {
  columns: 1;
}

@media (max-width: 560px) {
  .footer-col-center {
    margin: 30px 0 50px 0;
  }
  .footer-col-center .footer-menu__list {
    columns: 2;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 25px;
}
@media (max-width: 654px) {
  .footer-col-right {
    margin: 20px auto;
  }
}
@media (max-width: 560px) {
  .footer-col-right {
    margin: 0;
  }
}

.social-icon {
  margin-left: 20px;
}

.social-icon:first-child {
  margin-left: 0;
}

.contacts {
  display: block;
  color: #fff;
  font-size: 18px;
}

.telephone {
  padding-left: 25px;
  margin-top: 45px;
  background: url(../img/phone-icon.png) no-repeat left;
}

.e-mail {
  padding-left: 25px;
  margin-top: 30px;
  background: url(../img/envelope-icon.png) no-repeat left;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.copyright-text {
  font-size: 14px;
  color: #8d9198;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 410px) {
  .copyright-text {
    text-align: inherit;
  }
}
