/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-cyrillic_latin-regular.ttf'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-cyrillic_latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-cyrillic_latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v20-cyrillic_latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-cyrillic_latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-cyrillic_latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin_cyrillic-900.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin_cyrillic-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;

  cursor: pointer;
}

.hidden {
  overflow: hidden;
}

.popup-callback,
.popup-find-out-more {
  background-image: url(../img/bg.png);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

.popup-callback__form,
.popup-find-out-more__form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  padding: 30px;
  background-color: #fbfbfb;
  border-radius: 5px;
}

.popup-callback__form h3,
.popup-find-out-more__form h3 {
  margin: 5px auto 15px;
  text-align: center;
  font-weight: 400;
}

.popup-callback__form input,
.popup-find-out-more__form input {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #ff4e2e;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.popup-callback__submit,
.popup-find-out-more__submit {
  box-sizing: border-box;
  color: #f82370;
  font-size: 16px;
  width: 235px;
  height: 50px;
  margin: 20px auto;
  background-color: #ff4e2e;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.popup-callback__submit:hover,
.popup-find-out-more__submit:hover {
  transition: all 0.2s;
  animation: shadow 0.6s linear;
  background-color: #ff4e2e;
  color: #fff;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 2px 0px #ff4e2e, 0 0 2px 0px #ff4e2e;
  }
  100% {
    box-shadow: 0 0 5px 3px rgba(255, 48, 26, 0),
      0 0 4px 8px rgba(255, 48, 26, 0);
  }
}

.popup-find-out-more textarea {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ff4e2e;
  height: calc(5.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  resize: none;
}

@media (max-width: 1070px) {
  .popup-callback__form,
  .popup-find-out-more__form {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .popup-callback__form input,
  .popup-find-out-more__form input,
  .popup-find-out-more textarea,
  .popup-callback__submit,
  .popup-find-out-more__submit {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .popup-callback__form,
  .popup-find-out-more__form {
    width: 90%;
  }
}

.fix-container {
  max-width: 1250px;
  margin: 0 auto;
}

.button-buy {
  width: 270px;
  height: 60px;

  background-color: #ff4e2e;

  font-size: 1.13rem;
  color: #fff;

  margin-top: 30px;
}

.header {
  max-width: calc(1250px - 40px);

  padding: 0 20px;
  margin: 0 auto;
  padding-top: 30px;
}
.header__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-menu-button {
  display: none;
  width: 45px;
  height: 32px;

  background-image: url(../img/mobile-menu-icon.png);
  background-color: transparent;

  cursor: pointer;
}

.header-menu__list {
  max-width: 300px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header-menu__item {
  position: relative;
  display: inline-block;

  margin-right: 35px;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link:hover {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}

.header-menu__link:active {
  color: #fc557cbb;
  border-bottom: 1px solid #fc557cbb;
}

@media (max-width: 1070px) {
  .header {
    padding: 20px 40px 0 40px;
  }
  .header-menu {
    display: none;
  }

  .mobile-menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile__menu {
  display: none;
  width: 50%;
  margin: 15px auto;
}
.mobile__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
.mobile__menu ul li {
  margin: 10px 0;
}

.mobile__menu ul li a {
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

.contacts div {
  display: inline-block;
}

.telephone,
.email {
  font-size: 1.56rem;
  color: rgb(31, 31, 36);
  font-weight: 700;
  line-height: 2.16;

  margin-right: 30px;
}

@media (max-width: 600px) {
  .header .telephone {
    vertical-align: text-bottom;
  }
  .mobile__menu {
    width: 30%;
  }
}

.callback-button {
  width: 210px;
  height: 45px;

  position: relative;
  top: -5px;

  border-width: 1px;
  border-color: rgb(248, 35, 112);
  border-style: solid;

  background-color: #fff;
  color: #f53f4f;
}

.callback-button:active {
  background-color: #f53f4f;
  color: #fff;
}
.mobile-callback-button {
  display: none;

  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    padding: 20px;
  }

  .top-menu__button_burger-menu {
    padding: 23px 10px 10px;
  }

  .top-menu__button_burger-menu > div:nth-child(1) {
    margin: 5px 10px;
    width: 25px;
    height: 3px;
  }

  .top-menu__button_burger-menu > div:nth-child(2) {
    margin: 5px 10px;
    width: 25px;
    height: 3px;
  }

  .top-menu__button_burger-menu > div:nth-child(3) {
    margin: 5px 10px;
    width: 25px;
    height: 3px;
  }

  .telephone,
  .email {
    font-size: 1.13rem;
    margin-right: 5px;
  }

  .callback-button {
    display: none;
  }
  .mobile-callback-button {
    display: inline-block;
  }
}

#popup-windows {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}

#popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}

.popup {
  display: inline-block;
  position: fixed;
  top: 10%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  background: #ffffff;
  z-index: 100;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px -3px #333;
  box-shadow: 0 3px 10px -3px #333;
  border: 0;
  padding: 0;
}

.popup-content {
  padding: 25px 10px 10px 10px;
  -webkit-transform: initial;
  -ms-transform: initial;
  transform: initial;
}

.input {
  width: calc(100% - 30px);
  color: #000;
  background: #f5f5f5;
  padding: 10px 15px;
  margin: 10px 0 10px 0;
  font-size: 16px;
  border: none;
  outline: none;
}

p {
  margin: 0;
  font-family: sans-serif;
}

.send {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: #ff543a;
  padding: 10px 15px;
  margin: 10px 0 0px 0;
  font-size: 16px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.send:focus,
.send:active,
.close:focus,
.close:active {
  outline: none;
  -webkit-box-shadow: 0 0 2px 1px #f12f9f;
  box-shadow: 0 0 2px 1px #f12f9f;
}

.close {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  z-index: 1;
}

.close:hover {
  text-shadow: 0 2px 5px #bdbdbd;
  color: #ff543a;
}

.show-mobile-menu {
  position: absolute;
  height: 100vh !important;
  opacity: 1 !important;
  padding-top: 30px;
}

.main-about {
  margin: 0 auto;
  margin-top: 35px;

  background-color: #fbfbfb;
  background-image: url(../img/main-about__photo-background.svg);
  background-repeat: no-repeat;
  background-position-x: 1105px;
  background-position-y: 15px;
  background-size: 48%;
}

@media (max-width: 1400px) {
  .main-about {
    background-position-x: 750px;
    background-size: 60%;
  }
}
@media (max-width: 1250px) {
  .main-about {
    background-position-x: 600px;
    background-size: 70%;
  }
}
@media (max-width: 1070px) {
  .main-about {
    background-position-x: 500px;
    background-size: 75%;
  }
}
@media (max-width: 920px) {
  .main-about {
    background-position-x: 370px;
  }
}

@media (max-width: 700px) {
  .main-about {
    background-size: 65%;
  }
}

@media (max-width: 600px) {
  .main-about {
    background: none;
  }
}

.flat-elements-top span {
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  /* 
  background: -o-linear-gradient(60deg, #f35c2c, #fa098f);
  background: linear-gradient(30deg, #f35c2c, #fa098f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  color: #f53f4f;
}

.flat-elements-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: transparent;
}

.flat-elements-bottom {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  pointer-events: none;
}

.flat-elements-bottom span {
  position: absolute;
  color: #ffffff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.flat-elements-top {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flat-elements-bottom {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 1400px) {
  .flat-elements-top span:nth-child(1) {
    -webkit-transform: translate(-680px, 50px) rotate(40deg);
    -ms-transform: translate(-680px, 50px) rotate(40deg);
    transform: translate(-680px, 50px) rotate(40deg);
    font-size: 40px;
  }
  .flat-elements-top span:nth-child(2) {
    -webkit-transform: translate(-650px, 250px) rotate(20deg);
    -ms-transform: translate(-650px, 250px) rotate(20deg);
    transform: translate(-650px, 250px) rotate(20deg);
    font-size: 50px;
  }
  .flat-elements-top span:nth-child(3) {
    -webkit-transform: translate(-550px, 500px) rotate(-20deg);
    -ms-transform: translate(-550px, 500px) rotate(-20deg);
    transform: translate(-550px, 500px) rotate(-20deg);
    font-size: 35px;
  }
  .flat-elements-top span:nth-child(4) {
    -webkit-transform: translate(-100px, 400px) rotate(20deg);
    -ms-transform: translate(-100px, 400px) rotate(20deg);
    transform: translate(-100px, 400px) rotate(20deg);
    font-size: 40px;
  }
  .flat-elements-top span:nth-child(5) {
    -webkit-transform: translate(50px, 50px) rotate(-20deg);
    -ms-transform: translate(50px, 50px) rotate(-20deg);
    transform: translate(50px, 50px) rotate(-20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(1) {
    -webkit-transform: translate(-700px, 0px) rotate(30deg);
    -ms-transform: translate(-700px, 0px) rotate(30deg);
    transform: translate(-700px, 0px) rotate(30deg);
    font-size: 40px;
  }
  .flat-elements-bottom span:nth-child(2) {
    -webkit-transform: translate(600px, 0px) rotate(-20deg);
    -ms-transform: translate(600px, 0px) rotate(-20deg);
    transform: translate(600px, 0px) rotate(-20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(3) {
    -webkit-transform: translate(420px, 270px) rotate(20deg);
    -ms-transform: translate(420px, 270px) rotate(20deg);
    transform: translate(420px, 270px) rotate(20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(4) {
    -webkit-transform: translate(650px, 245px) rotate(-20deg);
    -ms-transform: translate(650px, 245px) rotate(-20deg);
    transform: translate(650px, 245px) rotate(-20deg);
    font-size: 40px;
  }
  .flat-elements-bottom span:nth-child(5) {
    -webkit-transform: translate(-700px, 250px) rotate(20deg);
    -ms-transform: translate(-700px, 250px) rotate(20deg);
    transform: translate(-700px, 250px) rotate(20deg);
    font-size: 50px;
  }
}

@media (max-width: 1400px) {
  .flat-elements-top span:nth-child(1) {
    -webkit-transform: translate(-450px, 25px) rotate(30deg);
    -ms-transform: translate(-450px, 25px) rotate(30deg);
    transform: translate(-450px, 25px) rotate(30deg);
    font-size: 50px;
  }
  .flat-elements-top span:nth-child(2) {
    -webkit-transform: translate(-350px, 400px) rotate(20deg);
    -ms-transform: translate(-350px, 400px) rotate(20deg);
    transform: translate(-350px, 400px) rotate(20deg);
    font-size: 50px;
  }
  .flat-elements-top span:nth-child(3) {
    -webkit-transform: translate(-100px, 450px) rotate(-20deg);
    -ms-transform: translate(-100px, 450px) rotate(-20deg);
    transform: translate(-100px, 450px) rotate(-20deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(4) {
    -webkit-transform: translate(0px, 200px) rotate(-30deg);
    -ms-transform: translate(0px, 200px) rotate(-30deg);
    transform: translate(0px, 200px) rotate(-30deg);
    font-size: 40px;
  }
  .flat-elements-top span:nth-child(5) {
    -webkit-transform: translate(150px, 10px) rotate(20deg);
    -ms-transform: translate(150px, 10px) rotate(20deg);
    transform: translate(150px, 10px) rotate(20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(1) {
    -webkit-transform: translate(-550px, -70px) rotate(30deg);
    -ms-transform: translate(-550px, -70px) rotate(30deg);
    transform: translate(-550px, -70px) rotate(30deg);
    font-size: 40px;
  }
  .flat-elements-bottom span:nth-child(2) {
    -webkit-transform: translate(400px, -35px) rotate(-20deg);
    -ms-transform: translate(400px, -35px) rotate(-20deg);
    transform: translate(400px, -35px) rotate(-20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(3) {
    -webkit-transform: translate(420px, 270px) rotate(20deg);
    -ms-transform: translate(420px, 270px) rotate(20deg);
    transform: translate(420px, 270px) rotate(20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(4) {
    -webkit-transform: translate(0px, 245px) rotate(-20deg);
    -ms-transform: translate(0px, 245px) rotate(-20deg);
    transform: translate(0px, 245px) rotate(-20deg);
    font-size: 40px;
  }
  .flat-elements-bottom span:nth-child(5) {
    -webkit-transform: translate(-500px, 250px) rotate(20deg);
    -ms-transform: translate(-500px, 250px) rotate(20deg);
    transform: translate(-500px, 250px) rotate(20deg);
    font-size: 50px;
  }
}

@media (max-width: 1070px) {
  /* анимации тегов */

  .flat-elements-top span:nth-child(1) {
    -webkit-transform: translate(-450px, 50px) rotate(30deg);
    -ms-transform: translate(-450px, 50px) rotate(30deg);
    transform: translate(-450px, 50px) rotate(30deg);
    font-size: 50px;
  }
  .flat-elements-top span:nth-child(2) {
    -webkit-transform: translate(-450px, 350px) rotate(20deg);
    -ms-transform: translate(-450px, 350px) rotate(20deg);
    transform: translate(-450px, 350px) rotate(20deg);
    font-size: 50px;
  }
  .flat-elements-top span:nth-child(3) {
    -webkit-transform: translate(0px, 200px) rotate(20deg);
    -ms-transform: translate(0px, 200px) rotate(20deg);
    transform: translate(0px, 200px) rotate(20deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(4) {
    -webkit-transform: translate(-50px, 25px) rotate(-30deg);
    -ms-transform: translate(-50px, 25px) rotate(-30deg);
    transform: translate(-50px, 25px) rotate(-30deg);
    font-size: 40px;
  }
  .flat-elements-top span:nth-child(5) {
    -webkit-transform: translate(-150px, 350px) rotate(-20deg);
    -ms-transform: translate(-150px, 350px) rotate(-20deg);
    transform: translate(-150px, 350px) rotate(-20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(1) {
    -webkit-transform: translate(-350px, -50px) rotate(30deg);
    -ms-transform: translate(-350px, -50px) rotate(30deg);
    transform: translate(-350px, -50px) rotate(30deg);
    font-size: 35px;
  }
  .flat-elements-bottom span:nth-child(2) {
    -webkit-transform: translate(300px, 220px) rotate(150deg);
    -ms-transform: translate(300px, 220px) rotate(150deg);
    transform: translate(300px, 220px) rotate(150deg);
    font-size: 40px;
  }
  .flat-elements-bottom span:nth-child(3) {
    -webkit-transform: translate(-50px, 275px) rotate(10deg);
    -ms-transform: translate(-50px, 275px) rotate(10deg);
    transform: translate(-50px, 275px) rotate(10deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(4) {
    display: none;
  }
  .flat-elements-bottom span:nth-child(5) {
    display: none;
  }
}

@media (max-width: 920px) {
  .flat-elements-top span:nth-child(1) {
    -webkit-transform: translate(-400px, 20px) rotate(30deg);
    -ms-transform: translate(-400px, 20px) rotate(30deg);
    transform: translate(-400px, 20px) rotate(30deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(2) {
    -webkit-transform: translate(-350px, 300px) rotate(20deg);
    -ms-transform: translate(-350px, 300px) rotate(20deg);
    transform: translate(-350px, 300px) rotate(20deg);
    font-size: 40px;
  }
  .flat-elements-top span:nth-child(3) {
    -webkit-transform: translate(-200px, 0px) rotate(20deg);
    -ms-transform: translate(-200px, 0px) rotate(20deg);
    transform: translate(-200px, 0px) rotate(20deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(4) {
    -webkit-transform: translate(-50px, 0px) rotate(-30deg);
    -ms-transform: translate(-50px, 0px) rotate(-30deg);
    transform: translate(-50px, 0px) rotate(-30deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(5) {
    -webkit-transform: translate(-200px, 300px) rotate(-20deg);
    -ms-transform: translate(-200px, 300px) rotate(-20deg);
    transform: translate(-200px, 300px) rotate(-20deg);
    font-size: 30px;
  }

  .flat-elements-bottom span:nth-child(1) {
    -webkit-transform: translate(-300px, 350px) rotate(150deg);
    -ms-transform: translate(-300px, 350px) rotate(150deg);
    transform: translate(-300px, 350px) rotate(150deg);
    font-size: 25px;
  }
  .flat-elements-bottom span:nth-child(2) {
    display: none;
  }
  .flat-elements-bottom span:nth-child(3) {
    -webkit-transform: translate(150px, -30px) rotate(20deg);
    -ms-transform: translate(150px, -30px) rotate(20deg);
    transform: translate(150px, -30px) rotate(20deg);
    font-size: 30px;
  }
  .flat-elements-bottom span:nth-child(4) {
    display: none;
  }
}

@media (max-width: 600px) {
  /* анимации тегов */

  .flat-elements-top span:nth-child(1) {
    -webkit-transform: translate(-180px, 50px) rotate(30deg);
    -ms-transform: translate(-180px, 50px) rotate(30deg);
    transform: translate(-180px, 50px) rotate(30deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(2) {
    -webkit-transform: translate(-200px, 170px) rotate(-20deg);
    -ms-transform: translate(-200px, 170px) rotate(-20deg);
    transform: translate(-200px, 170px) rotate(-20deg);
    font-size: 30px;
  }
  .flat-elements-top span:nth-child(3) {
    -webkit-transform: translate(20px, 0px) rotate(-10deg);
    -ms-transform: translate(20px, 0px) rotate(-10deg);
    transform: translate(20px, 0px) rotate(-10deg);
    font-size: 20px;
  }
  .flat-elements-top span:nth-child(4) {
    -webkit-transform: translate(80px, 50px) rotate(30deg);
    -ms-transform: translate(80px, 50px) rotate(30deg);
    transform: translate(80px, 50px) rotate(30deg);
    font-size: 20px;
  }
  .flat-elements-top span:nth-child(5) {
    display: none;
  }
  .flat-elements-bottom {
    display: none;
  }
}

@media (max-width: 500px) {
  .flat-elements-top span:nth-child(1) {
    -webkit-transform: translate(-130px, 50px) rotate(30deg);
    -ms-transform: translate(-130px, 50px) rotate(30deg);
    transform: translate(-130px, 50px) rotate(30deg);
    font-size: 20px;
  }
  .flat-elements-top span:nth-child(2) {
    -webkit-transform: translate(-150px, 170px) rotate(-20deg);
    -ms-transform: translate(-150px, 170px) rotate(-20deg);
    transform: translate(-150px, 170px) rotate(-20deg);
    font-size: 20px;
  }
  .flat-elements-top span:nth-child(3) {
    -webkit-transform: translate(20px, 0px) rotate(-10deg);
    -ms-transform: translate(20px, 0px) rotate(-10deg);
    transform: translate(20px, 0px) rotate(-10deg);
    font-size: 15px;
  }
  .flat-elements-top span:nth-child(4) {
    -webkit-transform: translate(80px, 50px) rotate(30deg);
    -ms-transform: translate(80px, 50px) rotate(30deg);
    transform: translate(80px, 50px) rotate(30deg);
    font-size: 15px;
  }
}

.main-about__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding-left: 40px;
}

@media (max-width: 600px) {
  .main-about__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;

    background-image: url(../img/main-about__photo-background.svg);
    background-repeat: no-repeat;
    background-position-x: -50px;
    background-position-y: 120px;
    background-size: 130%;
  }
}

.info {
  margin-bottom: 80px;
}

.main-about__name {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.308;

  margin-top: 0;
  margin-bottom: 0;
}

.main-about__speciality {
  font-size: 1.56rem;
  font-weight: 400;
  line-height: 2.16;

  padding-left: 2px;

  color: #8993ad;
}

@media (max-width: 1070px) {
  .main-about__name {
    margin-top: 0;
    font-size: 3.38rem;
  }

  .main-about__speciality {
    font-size: 1.25rem;
  }
  .button-buy {
    width: 320px;
    height: 68px;
  }
}
@media (max-width: 700px) {
  .main-about__name {
    font-size: 2.81rem;
  }
  .main-about__speciality {
    font-size: 1.13rem;
  }
}

@media (max-width: 600px) {
  .info {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-bottom: -1px;

    background-color: #fff;
  }
  .main-about__name {
    margin-top: 20px;

    font-size: 1.88rem;
  }
  .main-about__speciality {
    text-align: center;
  }
  .button-buy {
    width: 280px;
    height: 55px;
  }
}

.main-about__photo {
  width: 40%;
  z-index: 2;

  margin-right: -90px;

  -webkit-filter: drop-shadow(5px 5px 16px rgba(100, 0, 0, 0.4));
  filter: drop-shadow(5px 5px 16px rgba(100, 0, 0, 0.4));
}

@media (max-width: 600px) {
  .main-about__photo {
    width: 55%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

.main-skills {
  background-color: #fff;

  margin-top: 78px;
  margin-bottom: 92px;
}
@media (max-width: 600px) {
  .main-skills {
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.main-skills__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h2 {
  font-size: 3.38rem;
  margin-top: 0;
  margin-bottom: 0;
}

.main-skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  margin-top: 73px;
  margin-bottom: 51px;
  padding-left: 0;

  list-style: none;
}
.main-skills__item > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 1070px) {
  .main-skills__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .main-skills__item {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.88rem;

    /* padding-top: 50px; */
    margin: 0 auto;
  }
  .main-skills__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding-left: 0;
    margin-top: 50px;
  }
}

.main-skills__image {
  padding-bottom: 17px;
}

.main-skills__description {
  font-size: 1.25rem;
  line-height: 1.5;

  color: rgb(137, 147, 173);
}

@media (max-width: 320px) {
  .main-skills__description {
    font-size: 1rem;
  }
}

.main-works {
  padding: 100px 40px;

  background-color: #fbfbfb;
}

.main-works__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-works__examples {
  width: 100%;

  margin-top: 100px;
}

.main-works__examples div {
  text-align: center;
  font-size: 20px;
  color: #8993ad;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-works__examples div img,
.main-works__examples div svg,
.main-works__examples div canvas {
  width: 100%;
  margin-bottom: 40px;
}

.main-works__examples div svg {
  margin-top: 20px;
}

.main-works__examples-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  padding-left: 0;

  list-style: none;
}

.prev {
  background-image: url('../img/arrow.png');
  z-index: 2;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  opacity: 0.75;
  position: absolute;
  top: 40%;
  left: -2%;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.next {
  background-image: url('../img/arrow.png');
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: 2;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  opacity: 0.75;
  position: absolute;
  top: 40%;
  left: 97%;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .prev {
    top: 30%;
    left: -3%;
  }
  .next {
    top: 30%;
    left: 95%;
  }
}

.main-pricing {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 89px;
  background-image: -o-linear-gradient(
    13deg,
    rgb(255, 143, 90) 0%,
    rgb(255, 47, 150) 99%
  );
  background-image: linear-gradient(
    77deg,
    rgb(255, 143, 90) 0%,
    rgb(255, 47, 150) 99%
  );
}

@media (max-width: 600px) {
  .main-pricing {
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.main-pricing__flex-container {
  max-width: 942px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  color: #fff;
}

@media (max-width: 1220px) {
  .main-pricing__flex-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 600px) {
  .main-pricing__flex-container {
    padding: 0;
  }
}

.main-pricing__service {
  font-size: 2.81rem;
  line-height: 1.333;

  text-align: left;
}

.main-pricing__service-info {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;

  text-align: left;

  margin-top: 30px;
}
@media (max-width: 1220px) {
  .main-pricing__service-info {
    font-size: 1.35rem;
  }
}
@media (max-width: 600px) {
  .main-pricing__service {
    font-size: 1.75rem;
  }
  .main-pricing__service-info {
    font-size: 1rem;
  }
}

.footer {
  max-width: calc(1250px - 40px);

  padding: 0 20px;
  margin: 0 auto;
  margin-top: 65px;
}

@media (max-width: 1070px) {
  .footer {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 0 20px;
  }
}

.footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-menu {
  font-size: 1.13rem;
  line-height: 2.318;

  color: rgb(137, 147, 173);
}
@media (max-width: 800px) {
  .footer {
    margin-top: 50px;
  }
  .footer__flex-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-menu {
    width: 50%;
  }
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  max-width: 300px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-menu__item > a:hover {
  color: rgb(97, 100, 107);
}

.footer-contacts > .telephone,
.email {
  font-weight: 400;

  margin-right: 0;

  line-height: 2.389;
}

i {
  margin-right: 10px;
  color: #ff2f96;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 0;
}

.social-networks__item {
  display: inline-block;
}

.social-icon {
  background-image: url('../img/social-networks-sprite.png');
  width: 35px;
  height: 35px;
}

.vk {
  background-position: -2px 0px;
}
.fb {
  background-position: -40px 0px;
}
.tw {
  background-position: -75px 0px;
}
.ig {
  background-position: 35px 0px;
}
@media (max-width: 800px) {
  .social-networks {
    margin: 0 auto;
    margin-top: 50px;
  }
  .social-networks > .callback-button {
    width: 320px;
    height: 68px;

    color: #fff;
    background-color: rgb(255, 78, 46);
  }
}
@media (max-width: 600px) {
  .social-networks > .callback-button {
    display: block;

    width: 280px;
    height: 55px;
  }
}

@media (max-width: 436px) {
  .social-networks {
    margin-top: 30px;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 100px;
  padding: 40px 0;

  color: #fff;
  background-color: #31293c;
}

@media (max-width: 800px) {
  .copyright {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .copyright {
    padding: 25px 0;
  }
}
